@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

body {
  	font-family: 'Roboto', 'Noto Sans JP', serif;
}

.header{
	width: 100%;
	height: 70px;
	background-color: #333;
	color: #fff;
}

.header-wrapper{
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.header__title{
	font-size: 36px;
	font-weight: 600;
	line-height: 70px;
}

.header__a{
	color: #fff;
	text-decoration: none;
}

.header__btn{
	color: #fff;
	text-decoration: none;
	line-height: 70px;
	padding-left: 20px;
}

.header__btn:hover{
	opacity: 0.8;
}

.header__welcome {
	color: #fff;
	line-height: 70px;
}

.login-wrapper {
	display: flex;
}

.main {
	text-align: center;
	width: 600px;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0 3px 15px #c0c0c0;
	background-color: #f6f6f6;
	padding: 60px 0;
}

.form-title {
	font-size: 32px;
	font-weight: 600;
	padding: 0 0 60px;
}

.label {
	display: block;
	font-size: 20px;
	padding: 10px 0;
}

.input {
	width: 300px;
	height: 30px;
	margin-bottom: 40px;
}

.FormBtn {
	display: block;
	margin: 20px auto 0;
	background-color: #333;
	color: #fff;
	width: 130px;
	height: 40px;
	font-size: 16px !important;
	font-weight: 600;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FormBtn:hover{
	opacity: 0.8;
}

.index-main{
	padding: 0 20px;
	max-width: 800px;
	margin: 0 auto;
}

.index-title{
	font-size: 42px;
	font-weight: 500;
	padding: 60px 0 0;
}

.friend-title{
	font-size: 30px;
	font-weight: 400;
	padding: 60px 0 10px;
	border-bottom: solid 2px #ddd;
	margin-bottom: 30px;
}

.design10 {
 width: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 margin-bottom: 100px;
}
.design10 th {
 padding: 10px;
 border-bottom: solid 4px #555555;
 color: #555555
}
.design10 td {
 padding: 10px;
 border-bottom: solid 1px #555555;
}

.button01 {
	border: none;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px 20px;
	width: 160px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	background-color: #777;
	transition: 0.3s;
	cursor: pointer;
}

.button01::after {
  content: '';
  width: 9px;
  height: 9px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}

.button01:hover {
  text-decoration: none;
  background-color: #444;
}


.index-label {
	display: block;
	font-size: 20px;
	padding: 10px 0;
}

.index-input {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}

.index-btn {
	border: none;
	background: transparent;
	display: block;
	margin: 20px 0 100px;
	background-color: #777;
	color: #fff;
	width: 180px;
	height: 40px;
	font-size: 16px !important;
	font-weight: 600;
	border-radius: 5px;
	font-size: 20px;
	transition: 0.3s;
	cursor: pointer;
}

.index-btn:hover{
	background-color: #222;
}

.textarea{
	display: block;
	padding: 0 20px 0;
	font-size: 20px;
	line-height: 30px;
	height: 34px;
	width: 100%;
}

.message-form{
	padding: 60px 0;
}

















